<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome To Add Dragon Page</h1>
    <form method="POST" action="/addDragon">
        <label>
            Image: 
            <input name="img" />
        </label>
        <label>
            Name: 
            <input name="name" />
        </label>
        <label>
            Territory: 
            <input name="territory" />
        </label>
        <input type="submit" value="Add Dragon"/>
    </form>
</body>
</html>